header{
    display:grid;
    grid-template-columns: auto 50%;
    justify-content:center;
    align-content: center;
    background-color: $headerColor;  
    height:60px;
    border: 2px solid green;
    
    .logo{
        width: 100px;
        height:60px;
        border: 2px solid red;
    }

    nav{
        border: 2px solid red;
        
        &, & ul, & ul li{
            display: flex;
        }
        
        ul{
            justify-content: center;
            list-style: none;
            padding: 0;
            width: 100%;
            border: 1px solid rgb(73, 4, 73);
            
            li{     
                border: 1px solid yellow;
                text-align: center;
            }
        }
    }
}