header{
    display:grid;
    grid-template-rows: 1fr auto 1fr;
    background-color: $headerColor;  

    border: 2px solid green;

    .header-top{
        display:grid;
        grid-template-columns: auto 2fr;

        border: 2px solid yellow;
    }

    .header-bottom{
        display:grid;
        grid-template-columns: 1fr 1fr;

        border: 2px solid yellow;
    }
}