
{% extends 'base.html.twig' %}

{% block pageTitle %}About Resonance{% endblock %}
{% block pageDescr %}We Strive to satisfy our clients by providing various services...{% endblock %}

    {% block contentWrapperStart %}
        <div class="main-wrapper-about">{% endblock %}
            {% block content %}
            
            {% endblock %}{% block contentWrapperEnd %}
        </div>
    {% endblock %}

{% block javascripts %}
    <script src="../../scripts/nav_bar.js"></script>
    <script src="../../scripts/lang_tray.js"></script>
{% endblock %}