
{% extends 'base.html.twig' %}

{% block pageTitle %}Hosting{% endblock %}
{% block pageDescr %}Choose your plan wisely...{% endblock %}

    {% block contentWrapperStart %}
        <div class="main-wrapper-hosting">{% endblock %}
            {% block content %}
                
            {% endblock %}{% block contentWrapperEnd %}
        </div>
    {% endblock %}

{% block javascripts %}
    <script src="../../scripts/nav_bar.js"></script>
    <script src="../../scripts/lang_tray.js"></script>
{% endblock %}