
{% extends 'base.html.twig' %}

{% block pageTitle %}Resonance{% endblock %}
{% block pageDescr %}A Convenient Rental Service for Virtual Machines{% endblock %}

    {% block contentWrapperStart %}
        <div class="main-wrapper-index">{% endblock %}
            {% block content %}
              
            {% endblock %}{% block contentWrapperEnd %}
        </div>
    {% endblock %}

{% block javascripts %}
    <script src="../../scripts/nav_bar.js"></script>
    <script src="../../scripts/lang_tray.js"></script>
{% endblock %}
