.lang-bar-wrapper{
    display:flex;
    align-items:center;
    border: 2px solid violet;
    
    .lang-bar{
        display:flex;
        align-items:flex-end;
        width: 100%;
        border: 2px solid red;

        .code2{
            display:flex;
            font-size: 1em;
            color:white;
            align-items:center;
            border: 1px solid red;

            &:before{
                font-size: 1.4em;
                content: "     ";
                white-space: pre;
                background: url(../../../images/icons/earth.svg) no-repeat;
                background-size: 100% 100%;
                border: 1px solid yellow;
            }

            &:after{
                font-size: 0.8em;
                align-self: center;
                border: 1px solid red;   
            }
        }

        &.lang-dropdown[is-dropdown-active="true"]{
            .code2::after{
                content:'⯅';
            }
        }
        
        &.lang-dropdown[is-dropdown-active="false"]{
            .code2::after{
                content:'⯆';
            }
        }
    }
}

.lang-bar span:hover{
    cursor: pointer;
}

@media only screen and(max-width:600px)
{
    .lang-bar
    {
        font-size: 2em;
    }
}
