.lang-bar-wrapper{
 
    display:flex;
    border: 2px solid violet;
    height: 100%;
    align-items:center;

    .lang-bar{
        border: 2px solid red;
        width: 100%;

        .planet{
            
            fill:white;
  
        }
        .arrow-down{
            color:white;
            text-align: center;
        }
    }
}